
body{ 
    height: 100%;
    background-color: cadetblue;

}




.container{
    position: relative;
    border-radius: 3%;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 400px;
    background-color: rgb(40, 42, 44);
    box-shadow: 0 10px 16px 0 darkgrey;
}

.control{
    /* position: absolute; */
    border-radius: 20%;
    margin: auto;
    width: 80%;
    text-align: center;
    box-shadow: 0 10px 16px 0 darkgrey; 
}

.btn{
    /* padding-right: 5px; */
    margin: 5px;
    position: relative;
    bottom: 0;
    top: 87%;
}

.timemusic{
    /* background-color: darkgrey; */
    color: white;
    position: relative;
    /* top: 90%; */
}

#timing{

    width: 80%;
    height: 5px;
}

#time{
    margin-top: 2px;
    float: left;
    font-weight: bold;
}

.timescont{
    /* background-color: lightsalmon; */
    width: 80%;
    height: 20px;
    display: inline-block;
}

#duration{
    margin-top: 2px;
    float: right;
    font-weight: bold;
}

.grupoinfo{
    /* position: absolute; */
    width: 100%;
    height: 90%;
    padding-top: 0%;
    text-align: center;
    /* background-color: green; */
}

.capadisco{
    /* position: absolute; */
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 80%;
    /* background-color: red; */
    
    /* text-align: center; */
}

.descricao{
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 20%;
    line-height: 2px;
    padding: 1px;
    color: white;
    /* background-color: red; */
}

#imagem{
    margin-top: 20px;
    width: 200px;
}